*{
    margin: 0;  /* Elimina el margen por defecto */
    padding: 0; /* Elimina el relleno por defecto */
} 
/* Quitamos los estilos por defecto de la lista y aplicamos Flexbox */
header nav ul{
    list-style: none; /* Elimina los puntos de la lista */
    display: flex; /* Coloca los elementos uno al lado del otro */
    gap: 20px;  /* Espacio de separación entre los enlaces */
}

/* Opcional: Para ordenar el header completo (título y menú) */
header{
    display: flex;
    justify-content: space-between; /* Separa el título a la izquierda y el menú a la derecha */
    align-items: center;    /* Centra ambos elementos verticalmente */
    padding: 1rem 2rem; /* 1 rem Equivale a 16px*/
    background-color: #DCC573;  /* Color de fondo de prueba */
}

header nav a{
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

header nav a:hover{
    color: #0066cc;
}

.split-screen{
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: 100vh; 
}
.pane{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}
.left-pane{
    padding: 0;
    background-color: green;
}
.right-pane{
    background-color: cadetblue;
    color: #fff;
}
.responsive-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}